@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>

    .body {
        background-image: url('../../img/bg.png');
        background-size: 100% 100%;
        background-attachment: fixed;
        background-size: cover;
    }

    .center-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }

    html {
        height: 100%;
        background-repeat: no-repeat;
        /* background-image: linear-gradient(rgb(104, 145, 162), #007AAE);*/
    }

    .card-container.card {
        max-width: 450px;
        padding: 40px 40px;
    }

    .btn {
        font-weight: 700;
        height: 36px;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
    }

    /*
                                                                                                                                                                                                         * Card component
                                                                                                                                                                                                         */
    .card {
        background-color: #F7F7F7;
        /* just in case there no content*/
        padding: 20px 25px 30px;
        margin: 0 auto 25px;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .profile-img-card {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    /*
                                                                                                                                                                                                         * Form styles
                                                                                                                                                                                                         */
    .profile-name-card {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 10px 0 0;
        min-height: 1em;
    }

    .reauth-email {
        display: block;
        color: #404040;
        line-height: 2;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .form-signin #inputEmail,
    .form-signin #inputPassword {
        direction: ltr;
        height: 44px;
        font-size: 16px;
    }

    .form-signin input[type=email],
    .form-signin input[type=password],
    .form-signin input[type=text],
    .form-signin button {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        z-index: 1;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .form-signin .form-control:focus {
        border-color: rgb(104, 145, 162);
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    }

    .btn.btn-signin {
        /*background-color: #4d90fe; */
        background-color: #007AAE;
        /* background-color: linear-gradient(rgb(104, 145, 162), #007AAE);*/
        padding: 0px;
        font-weight: 700;
        font-size: 14px;
        height: 36px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        -o-transition: all 0.218s;
        -moz-transition: all 0.218s;
        -webkit-transition: all 0.218s;
        transition: all 0.218s;
    }

        .btn.btn-signin:hover,
        .btn.btn-signin:active,
        .btn.btn-signin:focus {
            background-color: #007AAE;
        }

</style>

<div class="body">
    <div class="center-screen">
    <div class="container">
        <div class="card card-container">

            <form class="form-signin" method="POST" action="" enctype="multipart/form-data">
                <h2><b style="color:#0E6185;">DELIVERY</b></h2>
                <br> <p align="center"><img src="/img/delivery.png" width="128" height="128" border="0" alt="Delivery Login" /></p><br>


                <input type="text" name="name" class="form-control" placeholder="Full Name *" value="" required>

                <input type="text" name="identification" class="form-control" placeholder="ID Number*" value=""
                       required>

                <input type="text" name="company" class="form-control" placeholder="Courier/Company *" value="" required>



                <textarea name="address" placeholder="Company Address *" class="form-control"></textarea>


                <br>
                <input type="text" name="temp" class="form-control" placeholder="Temperature " value="" required>


                <input type="text" name="vnumber" class="form-control" placeholder="Vehicle Registration Number *" value="" required>

                <input type="text" name="phone" class="form-control" placeholder="Phone Number *" value="" required>
                <select onchange="specify(this.name, this);" class="form-control" name="item" required>
                    <option class="hidden" selected disabled>
                        -- Item to Deliver ? --
                    </option>
                    <option value="Parcel">Parcel</option>
                    <option value="Visitors">Visitors</option>
                    <option value="Letter">Letter</option>
                    <option value="Food">Food, Water or Groceries</option>
                    <option value="Hardwares">Computers, Laptops, Printers and/or Cartridges</option>

                    <option value="others">Others</option>
                </select>
                <div style="margin-top:5px" id="hold">
                </div><br>
                <input type="number" name="qty" class="form-control" placeholder="Quantity *" value="" required>
                <br>
                <select class="form-control" name="whom" required>
                    <option class="hidden" selected disabled>-- Appointment with which person? -- </option>
                    <option value="Mpho Seriti">
                        Mpho Seriti
                    </option>
                    <option value="Nancy Mogodi">
                        Nancy Mogodi
                    </option>
                    <option value="Ben Gurion">
                        Ben Gurion
                    </option>
                    <option value="Thima">
                        Thima
                    </option>
                    <option value="Thima">
                        Thima
                    </option>
                    <option value="Mara Kriel">
                        Mara Kriel
                    </option>
                </select>
                <br>
                <button class="btn btn-primary btn-signin" name="submit" type="submit">Deliver</button>
            </form><!-- /form -->

        </div><!-- /card-container -->
    </div><!-- /container -->
</div><!-- /container -->

</div>