@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div class="card">
        <div class="card-head">
            <h4 style="color:darkgreen">THANK YOU FOR VISITING DEPARTMENT OF TRANSPORT AND COMMUNITY SAFTY</h4>
        </div>
        <div class="card-body">
            <a class="btn-sm btn-info" asp-action="CheckIn" >CONTINUE</a>
        </div>
    </div>
</div>